@{
    ViewData["Title"] = "Support";
}

<h1>Support</h1>

<p>If you need help, please contact our support team at <a href="mailto:support@chronosync.com">support@chronosync.com</a> or call us at 09087936108.</p>
